<div class="grid-container">
    <div class="comment-card grid-item" *ngFor="let item of list">

        <div class="left-side">
            <img src="{{item.picture}}" />
        </div>
        <div class="right-side">
            <h3>{{item.author}}</h3>
            <div> {{item.body}}</div>
        </div>
    </div>
</div>