.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:20px;
    padding: 0 20px;
  }

.comment-card{
    display: flex;
    align-items: center;
    border:1px solid gray;
    border-radius: 10px;
    padding: 20px;
    .left-side{
        margin-right: 20px;
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }
    .right-side{}
}